/*
reset
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#subicono{
    text-align: center;
}
.video {

}
.contenedorVentas{

}

#subicono img{
    height: 70px;
    width: auto;
    transition: all;
}
.linksH{
    list-style: none;
}
.linksH li{
display: inline-block;
padding: 0 20px;
}
.linksH li:hover{
    transform: scale(1.1);
}
.linksH a{
font-size: 30px;
color:rgba(65, 53, 49, 0.801);
text-decoration: none;
}
.footerRow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}


#subicono img:hover{
    transform: scale(1.1);
}
#sale{
    color: red;

}
nav div{
    font-size: 60px;
    font-style: italic;
    text-decoration: solid;
}
nav{
    font-size: large;
    background-color: #ddceb2;
    display: flex;
    height: 85px;
    padding: 5px;
    justify-content: space-between ;
    align-items: center;
}
body{
    background-color: bisque;
    /*
    configuracion para mantener abajo el footer
    */
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;

}
.nosotros{
    height: 250 px;
    width: auto;
    font-size: larger;
    

}
.nosotros iframe{
    height: 500px;
    width: 500px;
}

header{
    font-size: large;
    background-color: #ddceb2;
    display: flex;
    height: 85px;
    padding: 5px 10%;
    justify-content: space-between ;
    align-items: center;
}
.contenedorProductos{
    display: flex;
        font-size: 20px;
        flex-wrap: nowrap;
        justify-content: center;
}
.Producto{
    padding: 10px;
}
.Producto img{
    height: 300px;;
    width: auto;
}

.contenedorSkates{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}
.contenedorSkatesItem{
    padding: 10px;
    border: 20px;
    border-color: #2c2922;
}
.contenedorP img{
    height: 200px;
    width: auto;
}
.separador{
    background-image: url(../img/fondo\ divs.jpg);
    text-decoration: none;
    color: bisque;
    text-align: center;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.categorias{
    font-size: 20px;
}
footer {
    background-color: #8b7c60;
    text-decoration: underline;
    font-size: 20px;
    padding: 20px 0;
 
}
main img{
    width: auto;
    height: 800px;
 
}

h1{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: bisque;
    text-decoration: underline;
}
h3{
    text-decoration: underline;
}
h4{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5{
    font-size: x-large;
    text-decoration: underline;
}
.redes img{
    height: 50px;
    width: auto;
}

.categorias{
    display: flex
;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}
.eventos{
    display:flex;
}
.evento{
    font-size: larger;
}